{
    "source": "mockoon:1.7.0",
    "data": [
        {
            "type": "environment",
            "item": {
                "uuid": "",
                "name": "Inovasi 3",
                "endpointPrefix": "api",
                "latency": 0,
                "port": 3004,
                "routes": [
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/memberships",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 1,\n    \"list\": [\n      {\n        \"id\": \"009d52d7-ae6b-48ac-b2a2-b39f970534a0\",\n        \"team\": {\n          \"id\": \"51d283e4-587e-4541-a58a-1ee4d0d17dc7\",\n          \"name\": \"KonohaX\"\n        },\n        \"position\": \"Hokage\",\n        \"joinTime\": \"2019-12-11 15:09:53\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [],
                                "label": ""
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/memberships/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"009d52d7-ae6b-48ac-b2a2-b39f970534a0\",\n    \"team\": {\n      \"id\": \"51d283e4-587e-4541-a58a-1ee4d0d17dc7\",\n      \"name\": \"KonohaX\"\n    },\n    \"position\": \"Hokage\",\n    \"joinTime\": \"2019-12-11 15:09:53\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [],
                                "label": ""
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/member-candidateships",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 12,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"team\": {\n          \"id\": \"11\",\n          \"name\": \"Team Name 1\"\n        },\n        \"position\": \"pos 1\",\n        \"concluded\": \"concluded\",\n        \"note\": \"this is none 1\"\n      },\n      {\n        \"id\": \"2\",\n        \"team\": {\n          \"id\": \"21\",\n          \"name\": \"Team Name 2\"\n        },\n        \"position\": \"pos 2\",\n        \"concluded\": \"concluded\",\n        \"note\": \"this is none 2\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [],
                                "label": ""
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/member-candidateships/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"team\": {\n      \"id\": \"11\",\n      \"name\": \"Team Name 1\"\n    },\n    \"position\": \"pos 1\",\n    \"concluded\": \"concluded\",\n    \"note\": \"this is none 1\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "header",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ],
                                "label": ""
                            },
                            {
                                "uuid": "",
                                "body": "{\r\n  \"meta\": {\r\n    \"code\": 403,\r\n    \"type\": \"Forbidden\",\r\n    \"error_detail\": \"this is Error Details\"\r\n  }\r\n}",
                                "latency": 0,
                                "statusCode": "404",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "patch",
                        "endpoint": "incubatee/member-candidateships/:id/accept",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"id\": \"1\",\n  \"team\": {\n    \"id\": \"11\",\n    \"name\": \"Team Name 1\"\n  },\n  \"position\": \"pos 1\",\n  \"concluded\": \"concluded\",\n  \"note\": \"accepted\"\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ],
                                "label": ""
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "patch",
                        "endpoint": "incubatee/member-candidateships/:id/reject",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"id\": \"1\",\n  \"team\": {\n    \"id\": \"11\",\n    \"name\": \"Team Name 1\"\n  },\n  \"position\": \"pos 1\",\n  \"concluded\": \"concluded\",\n  \"note\": \"accepted\"\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ],
                                "label": ""
                            },
                            {
                                "uuid": "",
                                "body": "{\r\n  \"meta\": {\r\n    \"code\": 403,\r\n    \"type\": \"Forbidden\",\r\n    \"error_detail\": \"this is Error Details\"\r\n  }\r\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/members/:memberId",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1a6a861f-4a3f-40f3-838d-29a9df628a57\",\n    \"incubatee\": {\n      \"id\": \"4940ea03-83ad-4da6-8001-8fd09bdefadf\",\n      \"name\": \"Tri Sutrisno\"\n    },\n    \"position\": \"hokage\",\n    \"joinTime\": \"11/11/111\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "memberId",
                                        "value": "1a6a861f-4a3f-40f3-838d-29a9df628a57",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\r\n  \"meta\": {\r\n    \"code\": 403,\r\n    \"type\": \"Forbidden\",\r\n    \"error_detail\": \"this is Error Details\"\r\n  }\r\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "memberId",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/members",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 1,\n    \"list\": [\n      {\n        \"id\": \"1a6a861f-4a3f-40f3-838d-29a9df628a57\",\n        \"incubatee\": {\n          \"id\": \"4940ea03-83ad-4da6-8001-8fd09bdefadf\",\n          \"name\": \"Tri Sutrisno\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"incubatee\": {\n          \"id\": \"2\",\n          \"name\": \"Member 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "memberId",
                                        "value": "7913132b-ef1b-40f8-8f27-f071b4551b7",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "delete",
                        "endpoint": "incubatee/as-team-member/:teamId/members/:memberId",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 1,\n    \"list\": [\n      {\n        \"id\": \"1a6a861f-4a3f-40f3-838d-29a9df628a57\",\n        \"incubatee\": {\n          \"id\": \"4940ea03-83ad-4da6-8001-8fd09bdefadf\",\n          \"name\": \"Tri Sutrisno\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "memberId",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "memberId",
                                        "value": "1a6a861f-4a3f-40f3-838d-29a9df628a57",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/incubatees/:email",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"id\": \"1\",\n  \"name\": \"Tri Sutrisno\",\n  \"email\": \"tri@barapraja.com\"\n}",
                                "latency": 3000,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "email",
                                        "value": "tri@barapraja.com",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/member-candidates",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"incubatee\": {\n          \"id\": \"1\",\n          \"name\": \"Tri Sutrisno\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"incubatee\": {\n          \"id\": \"2\",\n          \"name\": \"Member 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "delete",
                        "endpoint": "incubatee/as-team-member/:teamId/member-candidates/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"incubatee\": {\n          \"id\": \"1\",\n          \"name\": \"Tri Sutrisno\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"incubatee\": {\n          \"id\": \"2\",\n          \"name\": \"Member 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/member-candidates/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"incubatee\": {\n      \"id\": \"1\",\n      \"name\": \"Tri Sutrisno\"\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-applications",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"cohort\": {\n          \"id\": \"11\",\n          \"name\": \"Cohort App 1\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"cohort\": {\n          \"id\": \"21\",\n          \"name\": \"Cohort App 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "post",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-applications",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"cohort\": {\n      \"id\": \"11\",\n      \"name\": \"Cohort App 1\"\n    },\n    \"appliedTime\": \"11/11/11\",\n    \"concluded\": \"Concluded\",\n    \"note\": \"note\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "201",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "body",
                                        "modifier": "programmeId",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "body",
                                        "modifier": "programmeId",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-applications/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"cohort\": {\n      \"id\": \"11\",\n      \"name\": \"Cohort App 1\"\n    },\n    \"appliedTime\": \"11/11/11\",\n    \"concluded\": \"Concluded\",\n    \"note\": \"note\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "delete",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-applications/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"cohort\": {\n      \"id\": \"11\",\n      \"name\": \"Cohort App 1\"\n    },\n    \"appliedTime\": \"11/11/11\",\n    \"concluded\": \"Concluded\",\n    \"note\": \"note\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"cohort\": {\n          \"id\": \"11\",\n          \"name\": \"Cohort App 1\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"cohort\": {\n          \"id\": \"21\",\n          \"name\": \"Cohort App 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"cohort\": {\n      \"id\": \"11\",\n      \"name\": \"Cohort App 1\"\n    },\n    \"acceptedTime\": \"12/11/11\",\n    \"active\": true,\n    \"note\": \"note\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "delete",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"cohort\": {\n      \"id\": \"11\",\n      \"name\": \"Cohort App 1\"\n    },\n    \"acceptedTime\": \"12/11/11\",\n    \"active\": true,\n    \"note\": \"note\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "ok",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/schedules",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"mentoring\": {\n          \"id\": \"11\",\n          \"name\": \"mentoring App 1\"\n        },\n        \"mentor\": {\n          \"id\": \"11\",\n          \"personnel\": {\n            \"id\": \"11\",\n            \"name\": \"Mentor 1\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      },\n      {\n        \"id\": \"2\",\n        \"mentoring\": {\n          \"id\": \"21\",\n          \"name\": \"mentoring App 2\"\n        },\n        \"mentor\": {\n          \"id\": \"21\",\n          \"personnel\": {\n            \"id\": \"21\",\n            \"name\": \"Mentor 2\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/schedules/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mentoring\": {\n      \"id\": \"11\",\n      \"name\": \"mentoring App 1\",\n      \"participantMentoringFeedbackForm\": {\n        \"id\": \"\",\n        \"name\": \"\",\n        \"description\": \"\",\n        \"stringFields\": [],\n        \"integerFields\": [],\n        \"textAreaFields\": [],\n        \"attachmentFields\": [],\n        \"singleSelectFields\": [],\n        \"multiSelectFields\": []\n      }\n    },\n    \"mentor\": {\n      \"id\": \"11\",\n      \"personnel\": {\n        \"id\": \"11\",\n        \"name\": \"Mentor 1\"\n      }\n    },\n    \"startTime\": \"11/11/11\",\n    \"endTime\": \"11/11/11\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/negotiate-schedules",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"mentoring\": {\n          \"id\": \"11\",\n          \"name\": \"nego mentoring App 1\"\n        },\n        \"mentor\": {\n          \"id\": \"11\",\n          \"personnel\": {\n            \"id\": \"11\",\n            \"name\": \"Mentor 1\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      },\n      {\n        \"id\": \"2\",\n        \"mentoring\": {\n          \"id\": \"21\",\n          \"name\": \"nego mentoring App 2\"\n        },\n        \"mentor\": {\n          \"id\": \"21\",\n          \"personnel\": {\n            \"id\": \"21\",\n            \"name\": \"Mentor 2\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/negotiate-schedules/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mentoring\": {\n      \"id\": \"11\",\n      \"name\": \"mentoring App 1\"\n    },\n    \"mentor\": {\n      \"id\": \"11\",\n      \"personnel\": {\n        \"id\": \"11\",\n        \"name\": \"Mentor 1\"\n      }\n    },\n    \"startTime\": \"11/11/11\",\n    \"endTime\": \"11/11/11\",\n    \"concluded\": true,\n    \"status\": \"can\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "patch",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/negotiate-schedules/:id/re-propose",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mentoring\": {\n      \"id\": \"11\",\n      \"name\": \"mentoring App 1\"\n    },\n    \"mentor\": {\n      \"id\": \"11\",\n      \"personnel\": {\n        \"id\": \"11\",\n        \"name\": \"Mentor 1\"\n      }\n    },\n    \"startTime\": \"11/11/11\",\n    \"endTime\": \"11/11/11\",\n    \"concluded\": true,\n    \"status\": \"can\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "patch",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/negotiate-schedules/:id/accept",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mentoring\": {\n      \"id\": \"11\",\n      \"name\": \"mentoring App 1\"\n    },\n    \"mentor\": {\n      \"id\": \"11\",\n      \"personnel\": {\n        \"id\": \"11\",\n        \"name\": \"Mentor 1\"\n      }\n    },\n    \"startTime\": \"11/11/11\",\n    \"endTime\": \"11/11/11\",\n    \"concluded\": true,\n    \"status\": \"can\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "patch",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/negotiate-schedules/:id/cancel",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mentoring\": {\n      \"id\": \"11\",\n      \"name\": \"mentoring App 1\"\n    },\n    \"mentor\": {\n      \"id\": \"11\",\n      \"personnel\": {\n        \"id\": \"11\",\n        \"name\": \"Mentor 1\"\n      }\n    },\n    \"startTime\": \"11/11/11\",\n    \"endTime\": \"11/11/11\",\n    \"concluded\": true,\n    \"status\": \"can\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "1",
                                        "isRegex": false
                                    }
                                ]
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/mentorings",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"name\": \"available mentoring App 1\",\n        \"sessionDuration\": \"30\"\n      },\n      {\n        \"id\": \"2\",\n        \"name\": \"available  mentoring App 2\",\n        \"sessionDuration\": \"60\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/mentorings/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"name\": \"available mentoring App 1\",\n    \"sessionDuration\": \"30\"\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/mentors",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"personnel\": {\n          \"name\": \"Mentor Name 1\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"personnel\": {\n          \"name\": \"Mentor Name 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/mentors/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"personnel\": {\n      \"name\": \"Mentor Name 1\"\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/journals",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"mission\": {\n          \"id\": \"11\",\n          \"name\": \"Mission Name 1\"\n        },\n        \"worksheet\": {\n          \"id\": \"11\",\n          \"name\": \"Worksheet Name 1\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"mission\": {\n          \"id\": \"21\",\n          \"name\": \"Mission Name 2\"\n        },\n        \"worksheet\": {\n          \"id\": \"21\",\n          \"name\": \"Worksheet Name 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal List",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/journals/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mission\": {\n      \"id\": \"11\",\n      \"name\": \"Mission Name 1\"\n    },\n    \"worksheet\": {\n      \"id\": \"11\",\n      \"name\": \"Worksheet Name 1\"\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal Data",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "delete",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/journals/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mission\": {\n      \"id\": \"11\",\n      \"name\": \"Mission Name 1\"\n    },\n    \"worksheet\": {\n      \"id\": \"11\",\n      \"name\": \"Worksheet Name 1\"\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal Data",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "post",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/journals",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"mission\": {\n      \"id\": \"11\",\n      \"name\": \"Mission Name 1\"\n    },\n    \"worksheet\": {\n      \"id\": \"11\",\n      \"name\": \"Worksheet Name 1\"\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal Data",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/missions",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"name\": \"Mission Name 1\",\n    \"description\": \"Mission Description\",\n    \"nextMission\": {\n      \"id\": \"11\",\n      \"name\": \"Mission Name 1\",\n      \"description\": \"Mission Description 2\",\n      \"nextMission\": null\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal List",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "incubatee/as-team-member/:teamId/cohort-participations/:cohortId/missions/:id",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"id\": \"1\",\n    \"name\": \"Mission Name 1\",\n    \"description\": \"Mission Description\",\n    \"worksheetForm\": {\n      \"id\": \"11\",\n      \"name\": \"Workseet Name 1\",\n      \"description\": \"Workseet Description 1\",\n      \"stringFields\": [],\n      \"integerFields\": [],\n      \"textAreaFields\": [],\n      \"attachmentFields\": [],\n      \"singleSelectFields\": [],\n      \"multiSelectFields\": []\n    }\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "Journal List",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            },
                            {
                                "uuid": "",
                                "body": "{\n  \"meta\": {\n    \"code\": 403,\n    \"type\": \"Forbidden\",\n    \"error_detail\": \"this is Error Details\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "403",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": [
                                    {
                                        "target": "params",
                                        "modifier": "id",
                                        "value": "2",
                                        "isRegex": false
                                    }
                                ]
                            }
                        ],
                        "enabled": true
                    }
                ],
                "proxyMode": false,
                "proxyHost": "",
                "https": false,
                "cors": true,
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "key": "Access-Control-Allow-Origin",
                        "value": "*"
                    },
                    {
                        "key": "Access-Control-Allow-Methods",
                        "value": "GET,POST,PUT,PATCH,DELETE,HEAD,OPTIONS"
                    },
                    {
                        "key": "Access-Control-Allow-Headers",
                        "value": "Content-Type, Origin, Accept, Authorization, Content-Length, X-Requested-With"
                    }
                ],
                "lastMigration": 9
            }
        },
        {
            "type": "environment",
            "item": {
                "uuid": "",
                "lastMigration": 9,
                "name": "inovasi 3 mentor",
                "endpointPrefix": "api/personnel",
                "latency": 0,
                "port": 3005,
                "routes": [
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "mentorships",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"cohort\": {\n          \"id\": \"11\",\n          \"name\": \"Cohort App 1\"\n        }\n      },\n      {\n        \"id\": \"2\",\n        \"cohort\": {\n          \"id\": \"21\",\n          \"name\": \"Cohort App 2\"\n        }\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "mentorships/:mentorId/schedules",
                        "responses": [
                            {
                                "uuid": "",
                                "body": "{\n  \"data\": {\n    \"total\": 2,\n    \"list\": [\n      {\n        \"id\": \"1\",\n        \"mentoring\": {\n          \"id\": \"11\",\n          \"name\": \"Mentoring 1\"\n        },\n        \"participant\": {\n          \"id\": \"11\",\n          \"team\": {\n            \"id\": \"11\",\n            \"name\": \"team name\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      },\n      {\n        \"id\": \"2\",\n        \"mentoring\": {\n          \"id\": \"21\",\n          \"name\": \"Mentoring 2\"\n        },\n        \"participant\": {\n          \"id\": \"21\",\n          \"team\": {\n            \"id\": \"21\",\n            \"name\": \"team name\"\n          }\n        },\n        \"startTime\": \"11/11/11\",\n        \"endTime\": \"11/11/11\"\n      }\n    ]\n  },\n  \"meta\": {\n    \"code\": 200,\n    \"type\": \"OK\"\n  }\n}",
                                "latency": 0,
                                "statusCode": "200",
                                "label": "",
                                "headers": [
                                    {
                                        "key": "",
                                        "value": ""
                                    }
                                ],
                                "filePath": "",
                                "sendFileAsBody": false,
                                "rules": []
                            }
                        ],
                        "enabled": true
                    },
                    {
                        "uuid": "",
                        "documentation": "",
                        "method": "get",
                        "endpoint": "mentorships/:mentorId/schedules/:id",
                        "responses": [
                            {
                                "uuid": "",
[...]
